* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #D7DBDD;
  max-width: 1024px;
  margin: auto;
}

.page {
  background-color: white;
  font-family: 'Source Sans Pro', sans-serif;
}

/* NAVEGACION   minuto 16:00 */
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  width: 100%;
}

.brand {
  height: 70px;
  margin-left: 50px;
  margin-bottom: 20px;
}

.nav-main {
  width: 100%;
  max-width: 1024px;
  margin: auto;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-color: #f15a29;
  height: 100px;
  margin-bottom: -1.5%;
  z-index: 1;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 51% 100%, 49% 90%, 0 90%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 51% 100%, 49% 90%, 0 90%);
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

nav ul li {
  list-style: none;
  padding: 10px;
  margin-bottom: 5px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  padding: 5px;
  margin: 2px;
}

nav ul li a:hover {
  background-color: green;
  border-radius: 5px;
}

@media (max-width: 700px) {
  .nav-main {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 51% 100%, 49% 95%, 0 95%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 51% 100%, 49% 95%, 0 95%);
  }
}

footer {
  padding-top: 5px;
  background-color: #606f71;
  max-width: 1024px;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 20% 40%;
      grid-template-columns: 40% 20% 40%;
  -webkit-clip-path: polygon(0 0, 49% 0, 51% 5%, 100% 5%, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 49% 0, 51% 5%, 100% 5%, 100% 100%, 0 100%);
}

.col1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5%;
}

.col1 img {
  width: 100%;
}

.col2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
  font-size: 75%;
}

.col3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.col3 img {
  width: 100%;
  max-width: 350px;
}

@media (max-width: 700px) {
  footer {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -webkit-clip-path: polygon(0 0, 49% 0, 51% 2%, 100% 2%, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 49% 0, 51% 2%, 100% 2%, 100% 100%, 0 100%);
  }
}

.center-content {
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 300px;
  margin: auto;
}

.center-content h1 {
  font-size: 120%;
}

.presentation {
  margin-top: 5px;
}

.center-columns {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  font-size: 70%;
  max-width: 1024px;
  margin: auto;
}

.pilares {
  padding: 20px;
  max-width: 300px;
  margin: auto;
  margin-top: 5px;
}

.pilares h2 {
  text-align: center;
}

.pilares p {
  color: #606f71;
}

@media (max-width: 700px) {
  .center-columns {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}
/*# sourceMappingURL=styles.css.map */